$t-duration: 800ms;
$color-gold: #d08f52;
$color-gold-light: #e0b68f;
$color-white: #fff;
$color-violet: #bd8ce9;
$color-red: #a1483a;
$color-black: #1a1a1a;
$color-gray: #f5f5f7;

$font-family-display: 'Patrick Hand SC';
$font-family-body: 'Roboto', sans-serif;

$font-size-xxl: 2.25rem;
$font-size-xl: 1.875rem;
$font-size-l: 1.5rem;
$font-size-m: 1.125rem;
$font-size-s: 1rem;
$font-size-xs: 0.75rem;

$line-height-xxl: 2.5rem;
$line-height-xl: 2.25rem;
$line-height-l: 2rem;
$line-height-m: 1.75rem;
$line-height-s: 1.5rem;
$line-height-xs: 1rem;

$font-weight-bold: 700;
$font-weight-regular: 400;

$bp-xl: 120em;
$bp-l: 64.0625em;
$container-width: 60rem;
