@import 'variables';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-s;
  line-height: $line-height-s;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-display;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.blue {
  background: linear-gradient(to bottom, $color-blue, #fff);
  &-top {
    background: linear-gradient(to top, $color-blue, #fff);
  }
}

.fade-in-left {
  opacity: 0;
  transform: translate3d(-150px, 0, 0);
}

.fade-in-up {
  opacity: 0;
  transform: translate3d(0, 150px, 0);
}

.fade-in-right {
  opacity: 0;
  transform: translate3d(150px, 0, 0);
}

.fade-in-down {
  opacity: 0;
  transform: translate3d(0, -150px, 0);
}

.fade-in {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 1s ease;
}
